@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');

/*   cheat sheet - COLORS template

  #f9f9f9 - white
  #e6e6e6 - darker
  #b3b3b3 - darker
  #666    - the darkness */


html {                         /*    -- structure --      */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ececec;
}

.clearfix {         /*            clearfix hack   -   I had to deal with the img creeping out from the box */
  overflow: auto;
}

div.container {
  width: 70%;
  margin: 100px auto;
  background-color: #cbddda;
  border-radius: 12px;
}

img.header-img {                /*    -- logo --     */
  display: block;
  width: 40%;
  margin: 40px auto;
}

hr {                            /*     -- elements --    */
  width: 85%;
  border: 1px solid #b3b3b3;
  background-color: #b3b3b3;
}

h1, h2, p, a, li {        /* Grouping all common properties of the text */
  font-family: BenchNine;
  margin: 0 auto;
  width: 70%;
  color: #767978;
}

h1, h2 {
  color: #666;
}

h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
}

p {
  margin: 20px auto;
  text-align: justify;
  font-size: 19px;
}

nav p {
  width: 40%;
  text-align: center;
}

p.last {
  padding-bottom: 40px;
}

ul {
  list-style-type: none;
}

a {                         /*   All link LOVE HATE properties */
  text-decoration: none;
  font-weight: bold;
}

nav a {
  letter-spacing: 3px;
}

a:link    { color: #467599; }
a:visited { color: #b3b3b3; }
a:hover   { color: #e6e6e6; }
a:active  { color: #f9f9f9; }

                        /*   -- classes --   */

.white-background {
  width: 80%;
  background-color: white;
  border-radius: 15px;
  margin: 80px auto;
  box-shadow: 8px 8px 3px #ccc;
}

.welcome-huge-writing {
  font-size: 130px;
  text-align: center;
  padding: 80px;
}

.footer {
  text-align: center;
  padding-bottom: 40px;
}

.hr-small {
  width: 35%;
  border: 0.5px solid #b3b3b3;
  margin: 55px auto;
}
