@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  bordesr: 1px solid blue;
}

body {
  background-color: #ececec;
}

div.container {
  width: 70%;
  margin: 100px auto;
  background-color: #cbddda;
  border-radius: 12px;
}

img.header {
  display: block;
  width: 40%;
  margin: auto;
}
hr {
  width: 80%;
  border: 1px solid #b3b3b3;
}

h1 {
  font-size: 25px;
  font-family: BenchNine;
  text-align: center;
  color: #b3b3b3;
  margin-top: 80px;
}
p {
  width: 70%;
  margin: 20px auto;
  text-align: justify;
  font-family: BenchNine;
  font-size: 19px;
  color: #767978;
}

.white-background {
  width: 80%;
  background-color: white;
  border-radius: 15px;
  margin: 100px auto;
  box-shadow: 10px 10px 2px #ccc;
}

.welcome-huge-writing {
  font-size: 130px;
  text-align: center;
  padding: 80px;
}
